.header {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.article {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}